<!-- bootstrap CDN -->
<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap-grid.min.css"
>

<!-- Body -->
<div class="container">
	<div class="row">
		<div class="col-12" style="background: red;">
			{% if section.settings.title != blank and section.settings.showTitle %}
				<h2 class="home-section--title">
					{{ section.settings.title | escape }}
				</h2>
			{% endif %}
		</div>

		<div class="col-12 col-md-6 col-lg-4" style="background: red;">
			content here
		</div>

		<div class="col-12 col-md-6 col-lg-4" style="background: red;">
			content here
		</div>
	</div>
</div>

<!-- Schema -->
{% schema %}
{
	"name": "Grid Advanced",
	"settings": [
		{
			"type": "checkbox",
			"id": "showTitle",
			"label": "Show Title",
			"default": false
		},
		{
			"type": "text",
			"id": "title",
			"label": "Heading"
		}
	],
	"presets": [
		{
			"name": "Grid Advanced",
			"category": "ADVANCED LAYOUT"
		}
	]
}
{% endschema %}

<!-- STYLE -->
{% stylesheet %}
{% endstylesheet %}

<!-- JAVASCRIPT -->
{% javascript %}
{% endjavascript %}