<!-- Welcome section starts -->
<section class="welcome">
	<div class="container">
		<div class="welcome-outter">
			{% if section.settings.title != blank and section.settings.showTitle %}
				<h2 class="home-section--title">
					{{ section.settings.title | escape }}
				</h2>
			{% endif %}
		</div>
	</div>

	<ul>
		{%- for collection in collections -%}
		  <li>
			<!--
			  These control flow tags check to see if there is a featured image for a collection.
			  If there isn't one, then we assign the image from the first product in the collection.
			-->
	  
			<a href="{{ collection.url }}">
			  {{ collection.title }}
			</a>
		  </li>
		{%- endfor -%}
	  </ul>
</section>

<!-- Schema -->
{% schema %}
{
	"name": "Grid Advanced",
	"settings": [
		{
			"type": "checkbox",
			"id": "showTitle",
			"label": "Show Title",
			"default": false
		},
		{
			"type": "text",
			"id": "title",
			"label": "Heading"
		}
	],
	"presets": [
		{
			"name": "Advanced Grid",
			"category": "ADVANCED LAYOUT"
		}
	]
}
{% endschema %}

<!-- STYLE -->
{% stylesheet %}
{% endstylesheet %}

<!-- JAVASCRIPT -->
{% javascript %}
{% endjavascript %}