<!-- bootstrap CDN -->
<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap-grid.min.css"
>

<div class="container">
	<div class="row">
		<!-- Show all collections -->
		{%- for collection in collections -%}
			<div class="col-12 col-md-6 col-lg-4">
				<a href="{{ collection.url }}" class="home-section--title">
					{{ collection.title }}
				</a>
			</div>
		{%- endfor -%}
	</div>
</div>

<!-- Schema -->
{% schema %}
{
	"name": "All Collections List",
	"settings": [],
	"presets": [
		{
			"name": "All Collections List"
		}
	]
}
{% endschema %}

<!-- STYLE -->
{% stylesheet %}
{% endstylesheet %}

<!-- JAVASCRIPT -->
{% javascript %}
{% endjavascript %}