<!-- Welcome section starts -->
<section class="welcome">
	<div class="container">
		<div class="welcome-outter">
			{% if section.settings.title != blank %}
				<h2 class="home-section--title">
					{{ section.settings.title | escape }}
				</h2>
			{% endif %}
		</div>
	</div>
</section>

<!-- Schema -->
{% schema %}
	{
		"name": "Grid Advanced",
		"class": "",
		"settings": [
			{
				"type": "text",
				"id": "title",
				"label": "Heading",
				"default": "Collection list"
			},
		],
		"presets": [
			{
				"name": "Advanced Grid",
				"category": "ADVANCED LAYOUT"
			}
		]
	}
{% endschema %}

<!-- STYLE -->
{% stylesheet %}
{% endstylesheet %}

<!-- JAVASCRIPT -->
{% javascript %}
{% endjavascript %}