<!-- bootstrap CDN -->
<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap-grid.min.css"
>

<div class="container">
	<div class="welcome-outter">
		{% if section.settings.showTitle %}
			<h2 class="home-section--title">
				All Collections
			</h2>
			<h6>{{ collections.length }}</h6>
		{% endif %}
	</div>

	<div class="row">
		<!-- Show all collections -->
		{%- for collection in collections -%}
			<div class="col-12 col-md-6 col-lg-4">
				<a href="{{ collection.url }}" class="home-section--title">
					{{ collection.title }}
				</a>
			</div>
		{%- endfor -%}
	</div>
</div>

<!-- Schema -->
{% schema %}
{
	"name": "All Collections List",
	"settings": [
		{
			"type": "checkbox",
			"id": "showTitle",
			"label": "Show Title",
			"default": true
		}
	],
	"presets": [
		{
			"name": "All Collections List"
		}
	]
}
{% endschema %}

<!-- STYLE -->
{% stylesheet %}
{% endstylesheet %}

<!-- JAVASCRIPT -->
{% javascript %}
{% endjavascript %}