<!-- bootstrap CDN -->
<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap-grid.min.css"
>

<!-- Welcome section starts -->
<section class="welcome">
	<div class="container">
		<div class="welcome-outter">
			{% if section.settings.title != blank and section.settings.showTitle %}
				<h2 class="home-section--title">
					{{ section.settings.title | escape }}
				</h2>
			{% endif %}
		</div>

		<div class="row">
			{%- for collection in collections -%}
			  <div class="col-12 col-md-6 col-lg-4">
				<a href="{{ collection.url }}">
				  {{ collection.title }}
				</a>
			  </div>
			{%- endfor -%}
		</div>
	</div>
</section>

<!-- Schema -->
{% schema %}
{
	"name": "Grid Advanced",
	"settings": [
		{
			"type": "checkbox",
			"id": "showTitle",
			"label": "Show Title",
			"default": false
		},
		{
			"type": "text",
			"id": "title",
			"label": "Heading"
		}
	],
	"presets": [
		{
			"name": "Advanced Grid",
			"category": "ADVANCED LAYOUT"
		}
	]
}
{% endschema %}

<!-- STYLE -->
{% stylesheet %}
{% endstylesheet %}

<!-- JAVASCRIPT -->
{% javascript %}
{% endjavascript %}