<section class="featured-product--container home-section--content" data-product-wrapper>
  testing
</section>

{% schema %}
{
  "name": "Testing",
  "class": "",
  "settings": [
  ],
  "presets": [
  ]
}

{% endschema %}